<%- include ("./partials/header") %>
<body>

    <h1 class="text-3xl font-bold underline"><%= title %></h1>
    <% if (locals.currentUser) { %>
        <a href="/new-post">Post new message</a>
    <% } %>
    <div class="m-10 border border-solid border-gray-900">
        <h4><i class="fas fa-thumbtack"></i>&nbsp;Welcome to the Members Clubhouse!</h4>
        <p>Sign up to post messages, and become a member to unlock the author and time details!</p>
        <p><i class="fas fa-user"></i>&nbsp;&nbsp;Rusty</p>
        <p><i class="fas fa-calendar"></i>&nbsp;&nbsp;<%= pinnedTime %></p>
    </div>
    <div class="m-10 border border-solid border-gray-900">
        <h4><i class="fas fa-thumbtack"></i>&nbsp;About this app</h4>
        <p>Written in Express, Node.js, and EJS. Database by MongoDB. Styled with Tailwind.</p>
        <p>Authentication and permissions by PassportJS.</p>
        <p>🤩 Built with enthusiasm by <i class="devicon-github-original colored"></i> <a href="https://github.com/rusty-reebs">rusty-reebs</a></p>
        <p><i class="fas fa-user"></i>&nbsp;&nbsp;Rusty</p>
        <p><i class="fas fa-calendar"></i>&nbsp;&nbsp;<%= pinnedTime %></p>
    </div>
    <% posts.forEach((post) => { %>
        <div class="m-10 border border-solid border-gray-900">
            <h4><%- post.title %></h4>
            <p><%- post.content %></p>
            <% if (typeof locals.currentUser != "undefined" && locals.currentUser.isMember == true) { %>
                <p><i class="fas fa-user"></i>&nbsp;&nbsp;<%- post.author.firstname + " " + post.author.lastname %></p>
                <p><i class="fas fa-calendar"></i>&nbsp;&nbsp;<%- post.timestring %></p>
            <% } else { %>
                <p><i class="fas fa-user"></i>&nbsp;&nbsp;<span class="blur-sm"><%- post.author.firstname + " " + post.author.lastname %></span></p>
                <p><i class="fas fa-calendar"></i>&nbsp;&nbsp;<span class="blur-sm"><%- post.timestring %></span></p>
            <% } %>
            <% if (typeof locals.currentUser != "undefined") { %>
                <% if (locals.currentUser.isAdmin == true) { %>
                <button>Delete</button>
                <% } %>
            <% } %>
        </div>
    <% }) %>
</body>



<%- include ("./partials/footer") %>