<%- include ("./partials/header") %>
<div class="mx-5 md:w-3/4 md:mx-auto">
    <div class="my-5 p-5 border border-solid border-gray-900 rounded-md bg-dark2">
    <h1 class="text-xl text-white"><%= title %></h1>
    </div>
    <% if (typeof errors != "undefined") { %>
        <div class="my-5 p-5 border border-solid border-gray-900 rounded-md bg-dark2">
        <ul>
            <% errors.forEach((error) => { %>
                <li class="text-dark4"><%= error.msg %></li>
            <% }) %>
        </ul>
        </div>
    <% } %>
    <div class="my-5 p-5 md:w-1/2 border border-solid border-gray-900 rounded-md bg-dark2">
        <form action="" method="POST">
            <label for="title" class="text-white">Title</label>
            <% let post_title = (typeof post == "undefined" ? "" : post.title) %>
            <input type="text" class="form-control block mt-3 py-1.5 w-full text-base font-normal text-grey-700 border border-solid border-grey-300 bg-dark3 text-dark4" name="title" value="<%= post_title %>" /><br>
            <label for="content" class="text-white">Message</label>
            <% let post_content = (typeof post == "undefined" ? "" : post.content) %>
            <textarea type="text" maxlength="1000" rows="5" class="form-control block mt-3 py-1.5 w-full text-base font-normal text-grey-700 border border-solid border-grey-300 bg-dark3 text-dark4" name="content" value="<%= post_content %>"></textarea><br>
            <button type="submit" class="inline-block mt-3 py-1 px-2 border border-gray-900 border-solid rounded-md bg-dark3 text-dark4 hover:bg-dark2 hover:text-dark4">Post</button>
        </form>
    </div>
    
</div>
<%- include ("./partials/footer") %>
