<%- include ("./partials/header", {title: title}); %>
<h1 class="text-3xl font-bold underline">Sign up for the Members Clubhouse!</h1>
<p>Membership has its privileges.</p>
<form action="" method="POST">
    <label for="firstname">First Name</label>
    <% let first_name = (typeof user == "undefined" ? "" : user.firstname) %>
    <input type="text" class="form-control block px-3 py-1.5 text-base font-normal text-grey-700 border border-solid border-grey-300" name="firstname" value="<%= first_name %>" /><br>
    <label for="lastname">Last Name</label>
    <% let last_name = (typeof user == "undefined" ? "" : user.lastname) %>
    <input type="text" class="form-control block px-3 py-1.5 text-base font-normal text-grey-700 border border-solid border-grey-300" name="lastname" value="<%= last_name %>" /><br>
    <label for="email">Email Address</label>
    <% let email_address = (typeof user == "undefined" ? "" : user.email) %>
    <input type="email" class="form-control block px-3 py-1.5 text-base font-normal text-grey-700 border border-solid border-grey-300" name="email" value="<%= email_address %>" /><br>
    <label for="password">Password</label>
    <% let pass_word = (typeof user == "undefined" ? "" : user.password) %>
    <input type="password" class="form-control block px-3 py-1.5 text-base font-normal text-grey-700 border border-solid border-grey-300" name="password" value="<%= pass_word %>"/><br>
    <label for="confirm">Confirm Password</label>
    <input type="password" class="form-control block px-3 py-1.5 text-base font-normal text-grey-700 border border-solid border-grey-300" name="confirm" /><br>
    <button type="submit">Sign up</button>
</form>
<% if (typeof errors != "undefined") { %>
    <ul>
        <% errors.forEach((error) => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>






<%- include ("./partials/footer") %>
