<%- include ("./partials/header", {title: title}); %>
<div class="mx-5">
<div class="my-5 p-5 border border-solid border-gray-900 rounded-md bg-dark2">
<h1 class="text-xl text-white">Sign up for the Members Clubhouse!</h1>
<p class="mt-4 text-dark4">Membership has its privileges.</p>
</div>
<div class="my-5 p-5 border border-solid border-gray-900 rounded-md bg-dark2">
<form action="" method="POST">
    <label for="firstname" class="text-white">First Name</label>
    <% let first_name = (typeof user == "undefined" ? "" : user.firstname) %>
    <input type="text" class="form-control block mt-3 px-3 py-1.5 text-base font-normal text-grey-700 border border-solid border-grey-300 bg-dark3 text-dark4" name="firstname" value="<%= first_name %>" /><br>
    <label for="lastname" class="text-white">Last Name</label>
    <% let last_name = (typeof user == "undefined" ? "" : user.lastname) %>
    <input type="text" class="form-control block mt-3 px-3 py-1.5 text-base font-normal text-grey-700 border border-solid border-grey-300 bg-dark3 text-dark4" name="lastname" value="<%= last_name %>" /><br>
    <label for="email" class="text-white">Email Address</label>
    <% let email_address = (typeof user == "undefined" ? "" : user.email) %>
    <input type="email" class="form-control block mt-3 px-3 py-1.5 text-base font-normal text-grey-700 border border-solid border-grey-300 bg-dark3 text-dark4" name="email" value="<%= email_address %>" /><br>
    <label for="password" class="text-white">Password</label>
    <% let pass_word = (typeof user == "undefined" ? "" : user.password) %>
    <input type="password" class="form-control block mt-3 px-3 py-1.5 text-base font-normal text-grey-700 border border-solid border-grey-300 bg-dark3 text-dark4" name="password" value="<%= pass_word %>"/><br>
    <label for="confirm" class="text-white">Confirm Password</label>
    <input type="password" class="form-control block mt-3 px-3 py-1.5 text-base font-normal text-grey-700 border border-solid border-grey-300 bg-dark3 text-dark4" name="confirm" /><br>
    <button type="submit" class="inline-block mt-3 py-1 px-2 border border-gray-900 border-solid rounded-md bg-dark3 text-dark4 hover:bg-dark2 hover:text-dark4">Sign up</button>
</form>
</div>
<% if (typeof errors != "undefined") { %>
    <ul>
        <% errors.forEach((error) => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>
</div>





<%- include ("./partials/footer") %>
